* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --orange1: #fffcc9;
    --orange2: #ffcd80;
    --orange3: #f4b738;
    --orange4: #ff8a00;
}

ul,
ol {
    list-style: none;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 0 100px;
    max-width: 250px;
    background-color: var(--orange4);
    color: var(--white);
    padding: 5px 10px 5px 10px;
    border-radius: 0px 10px 10px 0px;
}

.hover {
    border-radius: 10px;
    padding-left: 10px;
}

.hover:hover {
    background-color: var(--white);
    color: var(--orange4);
    transition: 400ms;
}

.bottom {
    margin-top: auto;
}

.hover.bottom {
    display:flex;
    gap: 10px;
    align-items: center;
}

.new-project-symbol {
    width: 25px;
    color: var(--orange4);
}

.main {
    display: flex;
    flex: 1 0 200px;
    justify-content: center;
}