* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --orange1: #fffcc9;
    --orange2: #ffcd80;
    --orange3: #f4b738;
    --orange4: #ff8a00;
}

ul,
ol {
    list-style: none;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 0 100px;
    max-width: 250px;
    background-color: var(--orange4);
    color: var(--white);
    padding: 5px 10px 5px 10px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.hover {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.hover:hover {
    background-color: var(--white);
    color: var(--orange4);
    transition: 400ms;
}

.hover.invert:hover {
    background-color: var(--orange4);
    color: var(--white);
    transition: 400ms;
}

.bottom {
    margin-top: auto;
}

.hover.bottom {
    display:flex;
    gap: 10px;
    align-items: center;
}

.new-project-symbol {
    width: 25px;
    color: var(--orange4);
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border-radius: 10px;
  outline: solid 2px white;
}

.project-list-child {
    padding-left: 20px
}

.main {
    display: flex;
    flex: 1 0 200px;
    align-items: center;
    flex-direction: column;
    /* padding: 5px 10px 5px 10px; */
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.flex {
    display: flex;
}

.main-bottom {
    width: clamp(100px,75%,1000px);
    position: fixed;
    bottom: 5px;
    padding: 0 10px 0 10px;
    justify-content: center;
}

input.name {
    border-radius: 5rem;
    padding-left: 10px;
    border-color: var(--orange2);
}

input.name:focus {
    outline: solid 2px var(--orange4);
}